:host {
    display: flex;
    justify-content: center;
}

.option {
    display: inline-block;
    cursor: pointer;
    margin: 1rem;
    text-align: center;

    &:hover, &.active {
        color: rgba(mediumblue, 0.6);
    }
    &:active {
        transform: scale(0.9);
    }
}

.icon {
    text-shadow: 5px 5px 5px rgba(black, 0.2);
}

.text {
    display: block;
    font-weight: bold;
    font-size: 1.25em;
    text-shadow: 5px 5px 5px rgba(black, 0.2);
}
